.iconWidth {
  margin: 0;
  padding-right: 0;
  min-width: 20px;
  width: 35px;
}
.listSpacing {
  padding-left: 10px;
  margin-top: 20px;
}
.home{
	z-index: 1;
}
.myImg{
	z-index: 0;
	position:absolute;
    right:5px;
    bottom: 0px ;
	opacity: 90%;
	/* bottom: 0; */
	
}

.listSelected {
  background-color: rgba(175, 102, 238, 0.578) !important;
  border-radius: 15px !important;
}


section{
	width: 100%;
	min-height: 400px;
}

