.iconWidth {
  margin: 0;
  padding-right: 0;
  min-width: 20px !important;
  width: 35px;
}
.listSpacing {
  margin-top: 20px;
}

.myImg {
  border-radius: 30% 75% 70% 40% /40% 30% 70% 50%;
}

@media only screen and (max-width: 600px) {
  .myImg {
    width: 50vw;
  }
}
.switchBox {
  position: absolute !important;
  bottom: 20px;
  right: 40px;
}
.listSelected {
  background-color: rgba(208, 186, 225, 0.578) !important;
  border-radius: 15px !important;

}

section {
  width: 100%;
  min-height: 400px;
}

.loader{
  display: flex;
  justify-content: center;
}